
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro:wght@600&family=Josefin+Sans:ital,wght@0,100;0,400;0,500;1,600;1,700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Permanent+Marker&family=Piazzolla:ital,wght@0,200;0,300;0,500;0,900;1,600&family=Varela&family=Varela+Round&display=swap');


.cards-Container{
    margin-top: 2rem;
    display: flex;
    margin-left: 0rem;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
}
/************

font-family: 'Abril Fatface', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lora', serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Piazzolla', serif;
font-family: 'Varela', sans-serif;
font-family: 'Varela Round', sans-serif;


****************/
.navbar {
    background-color: rgb(43, 76, 226);
}
.card{
    width: 18rem;
    height: 22rem;
    text-align: center;
    margin: 1.25rem 1.5rem 2rem 1.5rem;
    border: 1px solid gray;
    border-radius: 0.4375rem;
    transition: all 0.4s cubic-bezier(0.175, 0.885,0,1);
    box-shadow: 0.125rem 0.25rem 0.375rem rgb(197, 195, 195);
    position: relative;
}
.imaGe{
    width: 18rem;
    height: 8rem;
    border-top-left-radius: 0.4375rem;
    border-top-right-radius: 0.4375rem;
}
.cardInfo{
    margin : 1rem 1rem;
}
.cardInfo > hr {
    margin: 0.2rem;
    color: #d3d3d3;
}
.cardInfo h6 {
    font-family: 'Be Vietnam Pro', sans-serif;
    color :rgb(43, 76, 226);
}
.cardInfo > p {
    font-size: 0.75rem;
    font-family: 'Varela Round', sans-serif;
    color: gray;
    margin-top: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.2em;
    /* position: relative;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;  (Number of lines you want visible) * (line-height) 
    line-height: 1.2em;
    text-align:justify; */
}

/* .postThumbnail {
    position: absolute;
    bottom: 10px;
    font-size: 0.75rem;
} */
.postThumbnail1{
    color: #d3d3d3;
    position: absolute;
    bottom: 10px;
    font-size: 0.75rem;
    left: 10px;
}
.postThumbnail2{
    color : #d3d3d3;
    position: absolute;
    bottom: 10px;
    font-size: 0.75rem;
    right: 10px;
}